#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio config for a quad

param select parameters.bson
param import

param set BAT1_V_DIV 10.177939394
param set BAT1_A_PER_V 15.391030303
param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 4001
param set MAV_TYPE 12

# Multi-EKF
param set EKF2_MULTI_IMU 3
param set SENS_IMU_MODE 0

dataman start

load_mon start

icm20602 start -s -b 1 -c 2 # not workin
hmc5983 start -I 1 # MMC5983 ? There is a HMC # not working
bmp280 -X -b 2 start # ok
ads1115 start -Xa
pca9685_pwm_out start
control_allocator start
# start last (wait for possible icm20948 passthrough mode)
ak09916 -X -q start  # There is no 9915

navio_rgbled start

board_adc start
battery_status start

rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control startmavlink start -x -u 14556 -r 1000000 -p

if [ -c /dev/ttyUSB0 ]
then
	mavlink start -x -d /dev/ttyUSB0
elif [ -c /dev/ttyAMA0 ]
then
	mavlink start -x -d /dev/ttyAMA0
fi

navio_sysfs_rc_in start
linux_pwm_out start
control_allocator start

logger start -t -b 200

#mavlink boot_complete
